*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
.bigcontainer{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
input{
    font-size: larger;
    padding-left: 10px;
}
body{
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container{
    max-width: 400px;
    width:100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container form .userdetail{
    justify-content: space-between;
}
form .userdetail .inputbox{
    margin-bottom: 15px;
    width:calc(100%/2-20px); 
}
.userdetail .inputbox input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;

}
.userdetail .inputbox details{
    display: block;
    font-weight: 500;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}
.userdetail .inputbox input:focus,
.userdetail .inputbox input:valid
{
    border-color: #9b59b6;
}
form .button{
    height:45px;
    margin:45px 0;
}
form .button .btn{
    height:100%;
    width: 100%;
    outline: none;
    color:#fff;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    border: none;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    
}
form .button .btn:hover{
    background: linear-gradient(-135deg,#71b7e6,#9b59b6);

}
li,a,button{
    font-family:"Montserrat",sans-serif;
    font-weight:500;
    font-size:16px;
    color:#edf0f1;
    text-decoration:none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:30px  10%;

}
.navlinks{
    list-style:none;

}
.navlinks li {
display:inline-block;
padding:0px 20px; 
}
.navlinks li a{
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover{
    color:#0088a9
}