<DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>home</title>
    </head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
    <a href="{% url 'home'%}">home</a>
 {% if user.is_authenticated %}
 <h3>hi{{firstname}}</h3>
 <a href="">My profile</a>
 <a href="">Logout</a>
{%else%}
{{authenticate}}
<a href="{% url 'signup'%}">signup</a>
<a href="{% url 'login'%}">login</a>
{% endif %}
</body>
</html>