<DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>login</title>
    </head>
<body>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">

    <header>
        <nav>
            <ul class="navlinks">
                                <li> <a href="{% url 'home'%}">home</a></li>
                                <li><a href="{% url 'signup'%}">signup</a></li>
                                <li><a href="{% url 'login'%}">login</a></li>
            </ul>
        </nav>
    </header>

    
    
<div class="bigcontainer">
    <div class="container">
        <div class="title">Login</div>
        
        {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

 <form method="POST" action="login">
     {%csrf_token%}
     <div class="userdetail">
        <div class="inputbox">
            <span class="details"> User name</span>
            <input type="text" id="username" name="username" placeholder="username" class="username" required>
        </div>
        <div class="inputbox">
    <span class="details">Password</label>
    <input type="password" id="password" placeholder="passsword" name="password" class="password" required>
    </div>

    </div>
    <div class="button">
        <button type='submit' class="btn">Login</button>
        </div>
        <div class="message">
            <p>If you haven't created an account ? <a href="{% url 'signup'%}" style="color:blue;">signup here</a></p>
    </form>
</div>
</div>
</div>
</body>
</html>