<DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>my profile</title>
    </head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
    <a href="{% url 'home'%}">home</a>
 <div>
     <img src="{{my_profile.profile_img.url}}" style="border:2px solid black" width="250">
 </div>
 <form enctype="multipart/form-data" method="post">
     {%csrf_token%}
     <input type="file" name="user_img">
     <div>
         <button type="submit">submit</button>
     </div>
    </form>
</body>
</html>