<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username" >USER NAME</label>
    <input type="text" id="username"><br>
    <label for="firstname">FIRST NAME</label>
    <input type="text" id='firstname'></br>
    
    <label for="lastname">Last NAME</label>
    <input type="text" id='lastname'></br>

    
    <label type="password" id="password">PASSWORD</label>
    <input type="password" id="password"></br>

    <label for="email" placeholder="enter your username">email</label>
    <input type="email" id='emaiil'></br>
    <label for="email2">confirm your email</label>
    <input type="email" id='email2'></br>
    <input type="submit" value="sign up">
    
    </form>
     
</body>
</html>