<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username" >USER NAME</label>
    <input type="text" id="username" name="username" placeholder="username"><br>
    <label for="firstname">FIRST NAME</label>
    <input type="text" id='firstname' name='firstname' placeholder="firstname"></br>
    
    <label for="lastname">Last NAME</label>
    <input type="text" id='lastname' name='lastname' placeholder="Lastname"></br>

    
    <label type="password" id="password" name="password">PASSWORD</label>
    <input type="password" id="password" placeholder="passsword"></br>

    <label for="email" placeholder="enter your username">email</label>
    <input type="email" id='email' name="email" placeholder="enter email"></br>
    <label for="email2">confirm your email</label>
    <input type="email" id='email2' name="email2" placeholder="please confirm your email address"></br></br>
    <button type='submit'>Submit</button>
    
    </form>
     
</body>
</html>